.editPopParentContainer {
	display: flex;
	position: absolute;
	top: 20%;
	left: calc(50% - 300px);
	background-color: #fff;

	.editOverlayContainer {
		width: 200vw;
		height: 200vh;
		position: absolute;
		top: 0;
		left: 0;
		background-color: rgb(32, 33, 36);
		transform: translate(-50%, -50%);
		opacity: 0.6;
		transition: opacity 0.218s ease-in;
		z-index: 4000;
	}
	.createComponentContainer {
		width: 600px;
		/* margin: 32px auto 16px auto; */
		background-color: #fff;
		border-radius: 8px;
		border: 1px solid #e0e0e0;
		box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
			0 2px 6px 2px rgba(60, 64, 67, 0.15);
		display: flex;
		flex-direction: column;
		overflow-y: auto;
		max-height: 600px;
		background-size: cover;
		background-repeat: no-repeat;
		z-index: 9999;

		.notesContentInputContainer {
			padding: 12px 16px;
			outline: none;
			letter-spacing: 0.0142857143em;
			font-size: 0.875rem;
			font-weight: 400;
			line-height: 1.25rem;
			color: rgb(32, 33, 36);
		}
		.titleContentInputContainer {
			padding: 12px 16px;
			outline: none;
			letter-spacing: 0.0142857143em;
			font-size: 0.875rem;
			font-weight: 400;
			line-height: 1.25rem;
			color: rgb(32, 33, 36);
		}
		.notesFooterContainer {
			display: flex;
			align-items: center;
			justify-content: space-between;
			color: rgba(0, 0, 0, 0.54);
			font-size: 12px;
			line-height: 26px;
			margin-top: 4px;

			.closeBtn {
				color: rgba(0, 0, 0, 0.87);
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				line-height: 1.25rem;
				font-size: 0.875rem;
				letter-spacing: 0.0178571429em;
				font-weight: 500;
				height: 36px;
				padding: 8px 24px;
				border-radius: 4px;
				background-color: transparent;
				border: none;
			}

			.colorPalleteBtn {
				height: 32px;
				margin: 0 8px;
				width: 32px;
				border-radius: 50%;
				display: flex;
				justify-content: center;
				align-items: center;
			}
			.colorPalleteBtn:hover {
				background-color: rgba(94, 99, 104, 0.039);
			}
			.closeBtn:hover {
				background-color: rgba(94, 99, 104, 0.039);
			}
		}
	}
}

.notesContentInputContainer:empty::before {
	content: attr(data-placeholder);
	color: rgb(32, 33, 36);
}

.titleContentInputContainer:empty::before {
	content: attr(data-placeholder);
	color: rgb(32, 33, 36);
}
