.headerParentContainer {
	width: 100%;
	min-height: 64px;
	display: flex;
	align-items: center;
	padding: 8px;
	border-bottom: 1px solid #dadce0;

	.menuBarIconContainer {
		border-radius: 50%;
		display: inline-block;
		margin: 0 4px;
		padding: 12px;
		cursor: pointer;
	}

	.applicationTitleText {
		color: #5f6368;
		opacity: 1;
		padding-left: 4px;
		font-size: 22px;
		line-height: 48px;
	}
}
