.notesParentContainer {
	width: 100%;
	height: 100%;
	background-color: #fff;
	display: flex;
	flex-direction: column;

	.noteContentContainer {
		display: flex;
		flex: 1;

		.childrenContentContainer {
			flex: 1;
		}
	}
}
