.notesCardParentContainer {
	width: 100%;
	margin-bottom: 15px;
	border: 1px solid transparent;
	background-color: #fff;
	border-color: #e0e0e0;
	border-radius: 8px;
	position: relative;
	transition: all 0.3s ease;
	min-height: 150px;
	break-inside: avoid;
	cursor: pointer;
	page-break-inside: avoid;
	-webkit-column-break-inside: avoid;
	display: flex;
	flex-direction: column;
	padding: 12px 0px;

	.titleContentContainer {
		letter-spacing: 0.00625em;
		font-size: 1rem;
		font-weight: 500;
		line-height: 1.5rem;
		/* padding-top: 12px; */
		margin-bottom: 12px;
		padding: 12px 16px;
		color: #202124;
	}
	.contentContainer {
		letter-spacing: 0.0142857143em;
		font-size: 0.875rem;
		font-weight: 400;
		line-height: 1.25rem;
		color: rgb(32, 33, 36);
		margin-bottom: 16px;
		padding: 12px 16px;
	}

	.pinButton {
		position: absolute;
		top: 12px;
		right: 16px;
		width: 34px;
		height: 34px;
		border-radius: 100%;
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
		opacity: 0;
		transition: all 0.5s ease-in;
	}
	.pinButton.pinned {
		opacity: 1;
	}
	.pinButton:hover {
		background-color: #f5f5f5;
	}

	.bottomActionButtonContainer {
		position: absolute;
		display: flex;
		align-items: center;
		bottom: 8px;
		padding: 0px 4px;
		opacity: 0;

		.bottomActionButtonWrapper {
			width: 34px;
			height: 34px;
			border-radius: 100%;
			cursor: pointer;
			display: flex;
			justify-content: center;
			align-items: center;

			transition: all 0.5s ease-in;
		}
		.bottomActionButtonWrapper:hover {
			background-color: #f5f5f5;
		}
	}
}

.notesCardParentContainer:hover {
	.pinButton {
		opacity: 1;
	}
	.bottomActionButtonContainer {
		opacity: 1;
	}
}
