.popoverParentContainer {
	width: 450px;
	height: 100px;
	position: absolute;
	bottom: -85px;
	background-color: #fff;
	border-radius: 10px;
	flex-direction: column;
	box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
		0 2px 6px 2px rgba(60, 64, 67, 0.15);
	overflow: hidden;
	transition: opacity 0.218s linear;
	z-index: 4011;

	.backgroundColorContainer {
		border: 1px solid transparent;
		border-radius: 10px 10px 0 0;
		box-shadow: none;
		display: flex;
		opacity: 1;
		padding: 8px 9px 3px;
		position: relative;
		visibility: visible;
		white-space: nowrap;
		width: auto;
		gap: 4px;

		.slashDropContainer {
			width: 32px;
			height: 32px;
			border-radius: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			border: 3px solid #f1f3f4;
			cursor: pointer;
		}
	}

	.backgroundImageContainer {
		border: 1px solid transparent;
		border-radius: 10px 10px 0 0;
		box-shadow: none;
		display: flex;
		opacity: 1;
		padding: 8px 9px 3px;
		position: relative;
		visibility: visible;
		white-space: nowrap;
		width: auto;
		gap: 4px;
		.slashDropContainer {
			width: 40px;
			height: 40px;
			border-radius: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			border: 3px solid #f1f3f4;
			cursor: pointer;
		}
	}
}

.popoverOverlay {
	width: calc(100vw - 80px);
	height: 100vh;
	position: absolute;
}

.backGroundColorComponent {
	height: 32px;
	width: 32px;
	border-radius: 100%;
	background-color: red;
	cursor: pointer;
}
.backGroundColorComponent:hover {
	border: 2px solid #111;
}

.backGroundImageComponent {
	height: 40px;
	width: 40px;
	border-radius: 100%;
	background-color: red;
	cursor: pointer;
}
.backGroundImageComponent:hover {
	border: 2px solid #111;
}
