.sidebarParentContainer {
	width: 80px;
	padding-top: 8px;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	border: 2px solid #e0e0e0;
	transition: all 0.3s ease-in-out;

	.menuItems {
		display: flex;
		align-items: center;
		min-height: 48px;
		cursor: pointer;

		.menuIcon {
			min-width: 48px;
			height: 48px;
			border-radius: 100%;
			font-size: 24px;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-left: 12px;
		}

		.menuLabel {
			margin-left: 20px;
			font-size: 16px;
			color: rgb(32, 33, 36);
			font-weight: 500;
			line-height: 1.25rem;
		}
	}

	.menuItems:hover {
		border-radius: 0px 25px 25px 0px;
		background-color: #f1f3f4;
	}
	.menuItems.active {
		.menuIcon {
			background-color: #fdf0c3;
		}
	}
}
.sidebarParentContainer:hover {
	width: 280px;

	.menuItems.active {
		background-color: #fdf0c3;
		border-radius: 0px 25px 25px 0px;
		.menuIcon {
			background-color: transparent;
		}
	}
}
